

nav a{
    color: white !important;
}

nav a:hover{
    opacity: .5;
}

.menu{
    background: url(./img/banner.jpeg);
    background-size: cover;
    padding-top: 30%;
    padding-bottom: 10%;
    color: purple;
    height: 100vh;
}

.circle{
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    color: white;
}

.circle i{
    position: relative;
    top: 35px;
}

.img-wrapper{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid gray;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#foto{
    background: url(./img/map.jpeg);
    background-size: cover;
    background-position: center;
}